#message-box {
    position: absolute; 
    bottom: 0%;
}

.send-message-button {
    cursor: pointer; 
    position: absolute; 
    bottom: 3%; 
    right: 5%;
}

#send-message-icon {
    position: absolute; 
    right: 0%;
}
