.close-chatbar-button {
    color: #8b2300;
    cursor: pointer;
}

#close-chatbar-icon {
    position: absolute;
    right: 0%;
}

.talk-to-room-button {
    color: #007aa5; 
    margin-left: 5%; 
    cursor: pointer;
}

.go-to-participant-selection-button {
    color: #007aa5; 
    margin-left: 10%; 
    cursor: pointer;
}

