.remote-video {
    object-fit: cover;
    display: inline-block;
    width: 50%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.localVideo {
    object-fit: cover;
}

.row {
    position: fixed;
    top: 95%;
    left: 40%;
    right: 30%;
}

::ng-deep aside {
  background-color: white;
  padding: 2em 1em;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.mat-sidenav {
    width: 20%;
}
