<app-navbar (clickOpenChatBar)="onClickOpenChatBar()"></app-navbar>
<video class="local-video" id="localVideo" autoplay="true" muted></video>
<ng-container *ngFor="let stream of (streams$ | async)">
    <video class="remote-video" id="remoteVideo-{{stream}}" autoplay="true" muted></video>
</ng-container>
<app-controls [isPublishingAudio]="isPublishingAudio$ | async"
              [isPublishingVideo]="isPublishingVideo$ | async"
              (clickMute)="onClickMute()"
              (clickUnmute)="onClickUnmute()"
              (clickTurnVideoOff)="onClickTurnVideoOff()"
              (clickTurnVideoOn)="onClickTurnVideoOn()"
              (clickHangUp)="onClickHangUp()">
</app-controls>
<app-chat [isChatBarOpen]="isChatBarOpen$ | async" (clickCloseChatBar)="onClickCloseChatBar()"></app-chat>



